[submodule "backend"]
	path = backend
	url = https://github.com/LucianoBuhler/healthcare-backend.git
[submodule "middleware"]
	path = middleware
	url = https://github.com/LucianoBuhler/healthcare-middleware.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/LucianoBuhler/healthcare-frontend.git
[submodule "db-layer"]
	path = db-layer
	url = https://github.com/LucianoBuhler/healthcare-db-layer.git
[submodule "ingestion"]
	path = ingestion
	url = https://github.com/LucianoBuhler/healthcare-ingestion.git
